<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-init-method="defaultInit" default-destroy-method="defaultDestroy">
	<!-- ABSTRACT BEAN TEMPLATE to reuse , also doesn't create a new bean parenttriangle -->
	<bean id="parenttriangle" class="com.expedia.pshingavi.springdemo.Triangle" abstract="true" init-method="triangleInit" destroy-method="triangleDestroy">
		 <!-- <property name="points">
		 	<list>
		 		<ref bean="pointA"/>
		 	</list>
		 </property> -->
	</bean>
	
	<bean id="triangle" class="com.expedia.pshingavi.springdemo.Triangle" parent="parenttriangle" autowire="byName">
		 <!-- <property name="points">
		 	<list merge="true">
		 		<ref bean="pointB"/>
		 		<ref bean="pointC"/>
		 	</list>
		 </property> -->
	</bean>
	
	<bean id="circle" class="com.expedia.pshingavi.springdemo.Circle">
		<!-- <property name="center" ref="pointA" /> -->
	</bean>
	
	<bean id="pointA" class="com.expedia.pshingavi.springdemo.Point">
		<property name="x" value="${pointA.pointX}"/>	<!-- See bean org.springframework.beans.factory.config.PropertyPlaceholderConfigurer 
															and MyBeanFactoryPostProcessor-->
		<property name="y" value="${pointA.pointY}"/>
	</bean>
	
	<bean id="pointB" class="com.expedia.pshingavi.springdemo.Point">
		<property name="x" value="10"/>
		<property name="y" value="10"/>
	</bean>
	<bean id="pointC" class="com.expedia.pshingavi.springdemo.Point">
		<property name="x" value="20"/>
		<property name="y" value="20"/>
	</bean>
	
	<!-- <bean class="com.expedia.pshingavi.springdemo.DisplayNameBeanPostProcessor"/> -->
	<!-- <bean class="com.expedia.pshingavi.springdemo.MyBeanFactoryPostProcessor"/> -->
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="pointsconfig.properties"/>
	</bean>
</beans>