<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="onCreateMethod"
	default-destroy-method="onDestroyMethod"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="com.pshingavi.spring.Person"
		factory-method="getPersonInstance">
		<constructor-arg value="1" name="id" type="int"></constructor-arg>
		<constructor-arg value="Preetam" name="name" type="String"></constructor-arg>
		<property name="taxId" value="123"></property>
		<property name="address" ref="address"></property>
	</bean>
	
	<bean id="person2" class="com.pshingavi.spring.Person"
		factory-bean="personFactory"
		factory-method="createPerson">
		<constructor-arg value="2" name="id" type="int"></constructor-arg>
		<constructor-arg value="Mike" name="name" type="String"></constructor-arg>
		<property name="taxId" value="2123"></property>
		<property name="address" ref="address"></property>
	</bean>
	
	<bean id="personFactory" class="com.pshingavi.spring.factory.PersonFactory"></bean>
	
	<bean id="address" class="com.pshingavi.spring.Address" p:street="my street" p:postcode="98004">
		<!-- <constructor-arg value="my street" name="street" type="String"></constructor-arg>
		<constructor-arg value="98004" name="postcode" type="int"></constructor-arg> -->
	</bean>

</beans>
